<nav id="side" class="side">
    <div class="stuff">
        <div class="titleDiv">
            <i class="far fa-circle"></i>
            <h1 class="appTitle">Pillow</h1>
        </div>
        <div class="things">
            <ul class="ic">
                <div class="inner">
                    <i class="far fa-user"></i>
                    <p class="dashboard">User Dashboard</p>
                </div>
                <a href="/">
                    <li class="listItem"><i class="fas fa-home"></i> Home <p class="num">3</p>
                    </li>
                </a>
                <a href="hotelResults">
                    <li class="listItem"><i class="fas fa-search"></i> Search <p class="num">4</p>
                    </li>
                </a>
                <a href="">
                    <li class="listItem"><i class="far fa-star"></i> Favorites <p class="num">7</p>
                    </li>
                </a>
                <a href="">
                    <li class="listItem"><i class="fas fa-cog"></i> Settings
                    </li>
                </a>
                <a href="/">
                    <li class="listItem"><i class="fas fa-sign-out-alt"></i> Logout
                    </li>
                </a>
            </ul>

        </div>
    </div>
    <i id="close" class="fas fa-times"></i>
</nav>