* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .headerSection {
        position: fixed;
        top: 0;
        height: 12vh;
        width: 100%;
        background-color: royalblue;
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }

    .burger {
        height: 25px;
        width: 25px;
        color: white;
        border-radius: 5px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        margin: auto 10px;
    }

    .line1,
    .line2,
    .line3 {
        height: 2px;
        width: 90%;
        background-color: white;
        margin: auto;
    }

    .side {
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: 0;
        height: 100%;
        width: 0%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: 0.25s;
        z-index: 11;
        border-right: 1px solid lightgrey;
        text-align: center;
    }

    .stuff {
        height: 100%;
        width: 100%;
    }

    .things {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .ic {
        background-color: rgb(21, 21, 107);
        list-style: none;
        height: 100%;
        border-radius: 5px;
        width: 100%;
        margin: 10px auto;
        padding-top: 20px;
    }

    .inner {
        text-align: center;
    }

    .inner>i {
        margin: 0 20px;
        font-size: 30px;
        border: 3px solid rgb(30, 223, 56);
        padding: 25px;
        border-radius: 50%;
        color: rgb(30, 223, 56);
        background-color: white;
        margin-bottom: 10px;
    }

    .dashboard {
        color: rgb(219, 219, 219);
        text-transform: uppercase;
        font-weight: bold;
    }

    .colorLine {
        background-color: rgb(221, 221, 221);
        width: 85%;
        height: 2px;
        margin: 10px auto;
    }

    .listItem {
        padding: 15px;
        margin: 15px auto;
        font-size: 17px;
        width: 80%;
        text-align: left;
        color: rgb(255, 255, 255);
        background-color: rgb(40, 66, 145);
        border-radius: 12px;
        transition: .3s;
    }

    .num {
        font-size: 14px;
        float: right;
        padding: 5px 10px;
        background-color: rgb(18, 206, 18);
        border-radius: 50%;

    }

    .side>#close {
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 20px;
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

    .titleDiv {
        text-align: center;
        padding: 10px;
        background-color: royalblue;
    }

    .titleDiv>i {
        font-size: 20px;
        color: white;
    }

    .appTitle {
        color: white;
        font-size: 35px;
    }

    .mainpage {
        height: 80vh;
        width: 100%;
    }

    .searchSection {
        height: 19vh;
        width: 100%;
        background-color: limegreen;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .searchbar {
        height: 14px;
        width: 85%;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid rgb(238, 238, 238);
        text-align: center;
    }

    .subtext {
        text-align: center;
        font-weight: bold;
        color: white;
    }

    .space {
        height: 40vh;
        width: 100%;
        background-image: url(/images/hotel1.jpg);
        background-size: cover;
        background-position: center;
    }

    .pillow {
        height: 18vh;
        width: 100%;
        background-color: royalblue;
        text-align: center;
        padding-top: 20px;
    }

    .pillow>i {
        color: white;
        font-size: 40px;
    }

    .appTitle2 {
        color: white;
        font-size: 40px;
    }

    .text {
        color: white;
    }

    .slider {
        height: 30vh;
        width: 100%;
        background-color: lightgrey;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .pic {
        height: 100%;
        width: 100%;
    }

    .content1 {
        height: 150vh;
        width: 100%;
        background-color: rgb(212, 221, 247);
        text-align: center;
    }

    .app {
        text-align: left;
        padding: 10px;
        color: rgb(5, 5, 75);
    }

    .div1 {
        height: 35vh;
        width: 90%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 8px 10px rgb(180, 188, 211);
        margin: 25px auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
    }

    .top {
        position: absolute;
        top: 0;
        border-radius: 5px 5px 0 0;
        background-color: rgb(5, 5, 75);
        height: 10%;
        width: 100%;
    }

    .div1>i {
        font-size: 55px;
        color: rgb(5, 5, 75);
    }

    .bottom {
        background-color: rgb(5, 5, 75);
        height: 10%;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 5px 5px;
    }

    .demoPics {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .signup {
        background-color: limegreen;
        color: white;
        border-radius: 30px;
        height: 40px;
        width: 95%;
        border: none;
        font-weight: bold;
        margin: 10px auto;
    }

    footer {
        height: 25vh;
        width: 100%;
        background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .icons {
        width: 100%;
        height: 10vh;
    }

    .listOfIcons {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .icon {
        font-size: 35px;
        color: white;
    }
}